Makefile
*.so
*.o
*.def
*.rbc
doc/
pkg/
coverage/
.yardoc/
/tags
*.gem
.rbx/
.rvmrc
Gemfile.lock
*.swp
**/*~
man/generate_pry_man/templates/*
!man/generate_pry_man/templates/pry.1.erb
!man/generate_pry_man/templates/man_sections/
