name: pry

on: [push]

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        ruby:
          - 2.0
          - 2.1
          - 2.2
          - 2.3
          - 2.4
          - 2.5
          - 2.6
          - 2.7
          # Due to https://github.com/actions/runner/issues/849,
          # we have to use quotes for '3.0'
          - '3.0'
          - 3.1
          # - head is currently broken due to yard support for 3.2.0-dev
          - jruby
          # - jruby-head
        exclude:
          - os: windows-latest
            ruby: jruby
          - os: windows-latest
            ruby: '2.0'
          - os: windows-latest
            ruby: '2.1'
          - os: windows-latest
            ruby: '2.2'
          - os: windows-latest
            ruby: '2.3' # Intermittent failing Expression: RBASIC_CLASS(ret) == rb_cString
          - os: windows-latest
            ruby: '3.1'

    runs-on: ${{ matrix.os }}
    continue-on-error: true

    steps:
    - uses: actions/checkout@v3

    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}

    # Run manually, don't cache deps due to a bug with Ruby 2.4 and Ruby 2.5
    # https://github.com/pry/pry/actions/runs/1016360216
    - name: Install dependencies
      run: bundle install

    # Rubocop is not included on the Gemfile for earlier rubies. This can be dropped as soon as the support is dropped.
    - name: Rubocop lint
      if: matrix.ruby != '2.0' && matrix.ruby != '2.1' && matrix.ruby != '2.2'
      run: rubocop --parallel

    - name: YARD lint
      run: |
        touch README # Workaround for "incorrect" links in README.md
        bundle exec yardoc --fail-on-warning --no-progress --readme=README

    - name: Display Ruby version
      run: ruby -v

    - name: Test
      run: bundle exec rake
      env:
        # Make sure TERM is set so Pry can indent correctly inside tests.
        TERM: screen-256color
